openapi: 3.0.0

info: 
  version: '1.0'
  title: 'LBAW Q&AHub Web API'
  description: 'Web Resources Specification (A7) for Q&AHub'

servers:
- url: https://lbaw2362.lbaw.fe.up.pt
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw2362/-/wikis/eap

tags:
 - name: 'M01: Authentication'    # For login, logout, registration, password recovery etc.
 - name: 'M02: Users'             # For user profiles, homepage, edit profile, and other user-centric actions.
 - name: 'M03: Admins and Moderators'  # For admin and moderator specific actions, banning, unbanning, etc.
 - name: 'M04: Static Pages'      # For about, FAQ, and other static informational pages.
 - name: 'M05: Comments'          # For actions related to comments: creation, deletion, editing, liking, etc.
 - name: 'M06: Articles'          # For actions related to articles or questions: creation, deletion, editing, voting, etc.
 - name: 'M07: Notifications'     # For actions related to user notifications.
 - name: 'M08: User Interactions' # For follow, unfollow, remove follower, etc.
 - name: 'M09: Search'            # For search functionalities.

#M01
paths:
  /login:
    get:    ##GET method
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:   #-acepted parameters
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:  #-paginas de ação- redirects
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
  /logout: #-action page--Logout
    post:
      operationId: R103
      summary: 'R103: Logout Action'    
      description: 'Logout the current authenticated used. Access: USR, MOD'
      tags:
        - 'M01: Authentication and Individual Profile'
      
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'
  /register:
    #-buscar o form
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'
    #-escreve p bd
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      #-parametros aceites
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
              required:
                - email
                - password
      #-redirect
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'