body {
  /* Define a radial gradient background that's centered */
  /*background: radial-gradient(circle at center, #242c2d 0%, #0b1416 100%); */
  background-image: url('/images/daniel-leone-g30P1zcOzXo-unsplash.jpg');
  /* Ensure it covers the whole page */
  min-height: 100vh;
  background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  /* These ensure the background extends to the whole page */
  margin: 0;
  padding: 0;
  
  /* Center the content horizontally and vertically */
  display: grid;

}

main > header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: 10px 50px;
  margin: 1em;
}
.logo{
  font-size: 2em;
  color: #fff;
  user-select: none;
  cursor : pointer;
  font-weight: 700;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
}

.navigation a::after{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  transform-origin: right;
  transition: transform 0.5s;
  border-radius: 5px;
  transform: scaleX(0);
}

.navigation a:hover::after{ 
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin{
  width: 130px ;
  height: 50px ;
  background-color: #4a677c;
  border: 2px solid #4a677c;
  outline: none;
  border-radius: 6px;  
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;

} 
.navigation .btnLogin:hover{
  
  background: rgba(255, 255, 255, 0.5);

  color: #162938;
  transition: 0.5s;

}

.navigation .btnLogout{
  width: 130px;
  height: 50px;
  background-color: #4a677c;
  border: 2px solid #4a677c;
  outline: none;
  border-radius: 6px;  
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;

} 

.navigation .btnLogout:hover{
  
  background: rgba(255, 255, 255, 0.5);

  color: #162938;
  transition: 0.5s;

}


  main > header h1 {
    margin: 0;
  }
  main > header a.button {
    margin: 1em;
    justify-self: center;
  }
  main > header span {
    margin: 1em;
    justify-self: center;
  }

  .wrapper{
    margin: 0 auto;
    padding: 1em;
    max-width: 30em;
    display: grid;
    width: 30em;
    height: 30em;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  } 

.logo-container {
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    margin-top: 2%;
}

.house-main {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #fff;
    margin-top: 10px; /* Add margin at the top to create space between the logo and icon */
    padding: 0; /* Adjust padding if necessary */
    cursor: pointer; /* To indicate the button is clickable */
}

.sidebar {
    position: fixed; /* Fixed position */
    top: -500px; /* Align to the top */
    left: 70px;
    width: 250px; /* Sidebar width */
    height: 50%; /* Full viewport height */
    background: #fff; /* Sidebar background color */
    overflow-x: hidden; /* Hide horizontal overflow */
    transition: 0.5s; /* Smooth transition for the slide effect */
    padding-top: 60px; /* Padding from the top */
    border-radius: 25px;
}


.sidebar a {
    padding: 8px 8px 18px 18px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #4a677c;
}





#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#cards article.card {
  display: flex;
  flex-direction: column;
  background-color: #d3edc3;
  padding: 1em;
  margin: 1em;
}
#cards article.card header {
  display: flex;
  align-items: center;
}
#cards article.card header h2 {
  flex-grow: 1;
}
#cards article.card header a.delete {
  display: none;
  font-size: 2.6rem;
  margin-top: .5rem;
  margin-bottom: 2.5rem;
  line-height: 1.25;
}
#cards article.card header:hover a.delete {
  display: inline;
}
#cards article.card li {
  list-style-type: none;
}
#cards article.card li label {
  display: flex;
  align-items: baseline;
}
#cards article.card li label span {
  margin-left: .5em;
  flex-grow: 1;
}
#cards article.card li label a {
  display: none;
}
#cards article.card li label:hover a {
  display: inline;
}
#cards article.card input:checked + span {
  text-decoration: var(--primary-color) solid line-through;
}
#cards article.card ul {
  margin: 0;
}
#cards article.card form {
  margin: 0;
}
#cards article.card input[type=text] {
  background-color: white;
  margin: 0;
}
#content label {
  font-weight: normal;
}

#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form .success {
  font-weight: bold;
  color: #106af1;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  #cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
  }
}
