/* Style the accordion container */
.title{
    position: relative;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Arial, sans-serif;

}


.accordion-container {
    background-color: #4a677c;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    transition: 0.3s;
    border-bottom-left-radius: 10px; /* Remove bottom border-radius */
    border-bottom-right-radius: 10px'; /* Remove bottom border-radius */
}

.accordion-container.active {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition:  0.7s;

}

/* Style the accordion container on hover */
.accordion-container:hover {
    background-color: #325065;
}

/* Style the hidden accordion content */
.accordion-content {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 20px;
    border-radius: 10px;
    border-top-left-radius: 5px; /* Remove top border-radius */
    border-top-right-radius: 5px; /* Remove top border-radius */
    margin-bottom: 15px; /* Maintain bottom margin for spacing */
    width: 98%;
    margin: auto;
    margin-bottom: 2em;

}

/* Style the paragraph inside the accordion content */
.accordion-content p {
    margin-top: 0;
    padding: 15px 0;
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 70%;
    position: relative; /* Position relative to its parent */
    top: 15%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upvote{
    padding: 0px 15px;
    background-color: white;
    border: 2px solid #4a677cda;
    font-size: 15px;
    border-radius: 20px;
}
.downvote{
    padding: 0px 15px;
    background-color: white;
    border: 2px solid #4a677cda;
    font-size: 15px;
    border-radius: 20px;
}
.upvote:hover{
    transition: 0.5s;
    background-color: rgba(51, 74, 91, 0.855);
}

.downvote:hover{
    transform: 0.5s;
    background-color: rgba(51, 74, 91, 0.855);
}


.vote-count{
    font-weight: 700;
    font-size: 1.2em;
    margin: 0px 10px;
    color: black;
}